<!--
  Generated template for the VerReservasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title align="center">Mis Reservas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--<ion-list>
    <div *ngFor="let fecha of fechas">
      <ion-item *ngIf="fecha.email===auth.getEmail()">
        Fecha= {{fecha.fecha}}

      </ion-item>
    </div>

  </ion-list>-->
  <ion-grid fixed="">
    <ion-row class="fila"><div class="separa">Lunes</div>
      <div *ngFor="let fecha of fechas2" class="hora2"><ion-row *ngIf="fecha.email===auth.getEmail()" (click)="selectFecha2(fecha.key,fecha.hora,fecha.dia,fecha.disponibilidad)" style="background-color: lightgrey"><div class="hora">{{fecha.hora}}</div></ion-row></div>
    </ion-row>

    <ion-row class="fila"><div class="separa">Martes</div>
      <div *ngFor="let fecha of fechas3" class="hora2"><ion-row *ngIf="fecha.email===auth.getEmail()" (click)="selectFecha2(fecha.key,fecha.hora,fecha.dia,fecha.disponibilidad)" style="background-color: lightgrey"><div class="hora">{{fecha.hora}}</div></ion-row></div>
    </ion-row>

    <ion-row class="fila"><div class="separa">Miércoles</div>
      <div *ngFor="let fecha of fechas4" class="hora2"><ion-row *ngIf="fecha.email===auth.getEmail()" (click)="selectFecha2(fecha.key,fecha.hora,fecha.dia,fecha.disponibilidad)" style="background-color: lightgrey"><div class="hora">{{fecha.hora}}</div></ion-row></div>
    </ion-row>


    <ion-row class="fila"><div class="separa">Jueves</div>
      <div *ngFor="let fecha of fechas5" class="hora2"><ion-row *ngIf="fecha.email===auth.getEmail()" (click)="selectFecha2(fecha.key,fecha.hora,fecha.dia,fecha.disponibilidad)" style="background-color: lightgrey"><div class="hora">{{fecha.hora}}</div></ion-row></div>
    </ion-row>


    <ion-row class="fila"><div class="separa">Viernes</div>
      <div *ngFor="let fecha of fechas6" class="hora2"><ion-row *ngIf="fecha.email===auth.getEmail()" (click)="selectFecha2(fecha.key,fecha.hora,fecha.dia,fecha.disponibilidad)" style="background-color: lightgrey"><div class="hora">{{fecha.hora}}</div></ion-row></div>
    </ion-row>


    <ion-row class="fila"><div class="separa">Sábado</div>
      <div *ngFor="let fecha of fechas7" class="hora2"><ion-row *ngIf="fecha.email===auth.getEmail()" (click)="selectFecha2(fecha.key,fecha.hora,fecha.dia,fecha.disponibilidad)" style="background-color: lightgrey"><div class="hora">{{fecha.hora}}</div></ion-row></div>
    </ion-row>


    <ion-row class="fila"><div class="separa">Domingo</div>
      <div *ngFor="let fecha of fechas8" class="hora2"><ion-row *ngIf="fecha.email===auth.getEmail()" (click)="selectFecha2(fecha.key,fecha.hora,fecha.dia,fecha.disponibilidad)" style="background-color: lightgrey"><div class="hora">{{fecha.hora}}</div></ion-row></div>
    </ion-row>
  </ion-grid>
</ion-content>
