<ion-menu id="leftMenu" [content]="content" type="overlay">

  <ion-header *ngIf="auth.getEmail()">
    <ion-toolbar>
      <ion-title>Páginas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content *ngIf="auth.getEmail()">
    <ion-list>

      <ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-left></ion-icon>
        {{p.title}}
      </ion-item>

      <ion-list-header *ngIf="auth.getEmail()">
        <div *ngFor="let userData of auth.getUserData(auth.getEmail())">{{userData.email}}</div>
      </ion-list-header>

      <ion-item (click)="logout()" *ngIf="auth.authenticated">
        <ion-icon name="log-out" item-left></ion-icon>
        Desconectarse
      </ion-item>

    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav id="nav" [root]="rootPage" #content swipe-back-enabled="false"></ion-nav>
